body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(202, 91, 202, 0.333);
}

header {
    background-color: rgba(243, 149, 26, 0.867);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #fff5f5;
}

.button {
    background-color: rgb(240, 171, 44);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

.card {
    background-color: white;
    text-align: center;
    margin: 20px 0;
}

.images img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
}

.texte, .descriptif, .read {
    color: rgba(104, 10, 57, 0.808);
    max-width: 40%;
    text-align: justify;
    margin: 20px auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-image {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    background-color: #decd90;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
