<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgba(202, 91, 202, 0.333);
        }

        header {
            background-color: rgba(243, 149, 26, 0.867);
            color: white;
            text-align: center;
            padding: 20px;
        }

        main {

            justify-content: space-around;
            align-items: center;
            height: 800px;
            background-color: #fff5f5;
        }

        .button {
            background-color: rgb(240, 171, 44);
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            align-content: first baseline;
        }

        .card {
            background-color: white;
            text-align: center;
        }

        .images img {
            max-width: 100%;
            height: 220px;
            position: relative;
            top: 30px;
            left: 800px;
            width: 250px;
           
        }

        .texte {
            color: rgba(104, 10, 57, 0.808);
            max-width: 40%;
            text-justify: auto;
            position: relative;
            top: -200px;

          
       
        }

        .descriptif {
            color: black;
            max-width: 40%;
            text-justify: auto;
            position: relative;
            top: -200px;
        }

        .read {
            text-justify: auto;
            position: relative;
            top: -200px;
            .button {
                background-color: rgb(94, 53, 104);
                color: white;
            }

        }


        .titre {
            background-color: rgba(255, 235, 254, 0.867);
            color: rgba(104, 10, 57, 0.808);
            text-align: center;
            padding: 20px;
        }


        .gallery-image {
            height: 200px;
            width: 200px;
            margin: 10px;
            background-color: #decd90;

        }

        .gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
    </style>

